<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright © Lucid Modules. All rights reserved.-->
<!--See LICENSE.txt for license details.-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BatchSizeCalculator">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="configurable" xsi:type="number">1000</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogInventory\Model\Indexer\Stock\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="configurable" xsi:type="number">100</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Indexer\Category\Product\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="number">10000</argument>
        </arguments>
    </type>
</config>
