<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright © Lucid Modules. All rights reserved.-->
<!--See LICENSE.txt for license details.-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="LucidModules_IndexerConfig">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogInventory"/>
        </sequence>
    </module>
</config>
